* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 20px;
    background-image: url('backgroundimg.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    background: #0531578a;
    color: #fff;
    text-align: center;
    padding: 45px 20px;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
}

.header p {
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.9;
}

.card {
    background-color: hsla(203, 71%, 22%, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.stat-card {
    width: 270px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.stat-card h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.number {
    font-size: 30px;
    font-weight: bold;
    color: #01264a;
}

.action-container, .bottom-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.action-card {
    width: 280px;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0px 6px 14px rgba(0,0,0,0.12);
}

.action-card h3 {
    color: #000000;
    margin-bottom: 18px;
    font-size: 20.5px;
}

.btn.custom-btn {
    display: inline-block;
    padding: 10px 28px;
    border-radius: 12px;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    background:linear-gradient(to right, #1785ca, #1474b0);  /* Filled color */
    color: #fff;
    border: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.20);
    transition: 0.2s ease;
}

.btn.custom-btn:hover {
    opacity: 0.85;
    background:linear-gradient(to right, #024168, #096096); 
}

.btn.red {
    background: #d9534f;
    color: #fff;
}

@media(max-width: 900px) {
    
    .stat-card, .action-card {
        width: 90%;
    }
}
